<mat-toolbar>
  <a class="roboto">
    <span class="fh-fade">fh</span>
    <span class="rainbow"> & </span>
    <span class="sons-fade">sons</span>
  </a>
  <div class="ml-auto">
    <button *ngIf="!auth.user.value" mat-stroked-button color="primary" (click)="login()">Login</button>
    <div *ngIf="auth.user.value">
      <span style="font-size: 1rem; font-weight: 100;">{{auth.user.value.email}}</span>
      <button mat-stroked-button class="ml-3" color="primary" (click)="auth.logout()">Logout</button>
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container class="flex-grow-1">
  <mat-drawer #drawer class="d-print-none" mode="side" [autoFocus]="false" opened>
    <div class="sticky-top bg-white">
      <mat-form-field appearance="outline" class="mx-3 mt-3 pb-0">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="search.next($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <mat-list>
      <ng-container *ngFor="let f of formulas | async; let i = index">
        <div *ngIf="i < 50">
          <mat-divider *ngIf="i > 0"></mat-divider>
          <mat-list-item (click)="displayFormula(f)" [ngClass]="{'active': f.id == formula?.id}">
            <mat-icon *ngIf="!f.approved" class="mr-3 text-danger">remove_circle</mat-icon> {{f.name}}
          </mat-list-item>
        </div>
      </ng-container>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="p-3 bg-white ml-print-0" style="min-height: calc(100vh - 64px); background: url('assets/img/splatter.jpg') center; background-size: cover;">
    <div class="d-block d-print-none" style="overflow: auto">
      <span *ngIf="(auth.user | async)?.admin" class="float-md-right">
          <button mat-raised-button class="mr-2" (click)="newFormula()">
              <mat-icon>add</mat-icon> Create
          </button>
          <button mat-raised-button (click)="openComponents()">
              <mat-icon>list_alt</mat-icon> Components
          </button>
      </span>
    </div>
    <mat-card *ngIf="formula" class="my-4 mx-auto formula-card">
      <div class="d-none d-print-block mb-5 pb-5">
        <h1 class="mb-0">FH & Sons: Formula Manager</h1>
        <small>All rights reserved</small>
      </div>
      <mat-card-header>
        <mat-card-title class="mb-0"><h4>{{formula.name}}</h4></mat-card-title>
        <mat-card-subtitle>{{formula.createdOn?.seconds * 1000 | date}}</mat-card-subtitle>
        <div *ngIf="auth.user.value?.admin" class="ml-auto">
          <h5 *ngIf="formula.approved">Approved<span *ngIf="formula.approvedOn">: {{formula.approvedOn?.seconds * 1000 | date}}</span></h5>
          <button mat-raised-button color="primary" *ngIf="!formula.approved" (click)="approve(formula)">Approve</button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <table class="w-100 mt-4 table">
          <thead>
          <tr>
            <th>Name</th>
            <th class="text-right" style="width: 100px">Quantity</th>
            <th class="text-right" style="width: 100px">Cost</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of formula.components">
            <td>{{c.component?.name}}</td>
            <td class="text-right" style="width: 100px">{{c.quantity | scale: formula?.total : _newTotal | convertFromG: unit}} {{unit}}</td>
            <td class="text-right" style="width: 100px">{{c.quantity | scale: formula?.total : _newTotal / 1000 * c.component.price | currency}}</td>
          </tbody>
        </table>
        <div class="col-12 d-lg-block mb-3" style="height: 4px; background:black; width: 100%;"></div>
        <div class="d-flex">
          <div class="d-inline ml-auto">
            <div class="d-inline-block mr-3">
              <mat-form-field style="width: 75px">
                <input matInput type="number" placeholder="Yield" [(ngModel)]="newTotal" [min]="0">
              </mat-form-field>
              <mat-form-field style="width: 40px">
                <mat-select placeholder="Unit" [(ngModel)]="unit">
                  <mat-option value="g">g</mat-option>
                  <mat-option value="oz">oz</mat-option>
                  <mat-option value="kg">kg</mat-option>
                  <mat-option value="lb">lb</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="d-inline-block">
              <mat-form-field id="totalCost" style="width: 100px">
                <input matInput placeholder="Total Cost" [value]="cost() | currency" [readonly]="true" style="text-align: right;">
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="d-print-none" style="overflow: hidden">
        <mat-divider></mat-divider>
        <button mat-button class="m-1 mt-3" onclick="window.print()">Print</button>
        <div *ngIf="auth.user.value?.admin" class="float-right m-1 mt-3">
          <button mat-button (click)="edit(formula)">Edit</button>
          <button mat-button class="ml-2" color="warn" (click)="delete(formula)">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
