<mat-dialog-content>
    <h3 mat-dialog-title>Delete {{data.name}}</h3>
    <p>You are about to delete {{data.name}}. This cannot be undone.
        <br>
        <br> please enter
        <span style="background-color: #ffff00">{{data.name}}</span> bellow to confirm your action.</p>
    <mat-form-field class="w-100">
        <input matInput placeholder="Confirm" [(ngModel)]="confirm">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="warn" class="ml-auto" (click)="delete()" [disabled]="confirm.toLowerCase() != data.name.toLowerCase()">Delete</button>
</mat-dialog-actions>
